In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df["Glucose"].replace(0,np.nan,inplace= True )
df["BloodPressure"].replace(0,np.nan,inplace= True )
df["SkinThickness"].replace(0,np.nan,inplace= True )
df["Insulin"].replace(0,np.nan,inplace= True )
df["BMI"].replace(0,np.nan,inplace= True )

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [6]:
df.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [7]:
print(df["Glucose"].isnull().sum()/len(df))
print(df["BloodPressure"].isnull().sum()/len(df))
print(df["SkinThickness"].isnull().sum()/len(df))
print(df["Insulin"].isnull().sum()/len(df))
print(df["BMI"].isnull().sum()/len(df))

0.006510416666666667
0.045572916666666664
0.2955729166666667
0.4869791666666667
0.014322916666666666

In [8]:
diabetes_missing_values_threshold = df.dropna(thresh = int(df.shape[0]*0.9), axis= 1)

In [9]:
diabetes_missing_values_threshold

,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,33.6,0.627,50,1
1,1,85.0,66.0,26.6,0.351,31,0
2,8,183.0,64.0,23.3,0.672,32,1
3,1,89.0,66.0,28.1,0.167,21,0
4,0,137.0,40.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...
763,10,101.0,76.0,32.9,0.171,63,0
764,2,122.0,70.0,36.8,0.340,27,0
765,5,121.0,72.0,26.2,0.245,30,0
766,1,126.0,60.0,30.1,0.349,47,1
767,1,93.0,70.0,30.4,0.315,23,0

In [10]:
diabetes_missing_values_threshold_feature = diabetes_missing_values_threshold.drop("Outcome",axis =1)
diabetes_missing_values_threshold_label = diabetes_missing_values_threshold["Outcome"]

## Variance Threshold

In [11]:
diabetes = pd.read_csv("Diabetes_cleaned.csv")

In [12]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,218.94,33.6,0.63,50,1
1,1,85,66.0,29,70.19,26.6,0.35,31,0
2,8,183,64.0,29,269.97,23.3,0.67,32,1
3,1,89,66.0,23,94.00,28.1,0.17,21,0
4,0,137,40.0,35,168.00,43.1,2.29,33,1

In [13]:
diabetes.columns

Index([' Pregnancies ', ' Glucose ', ' BloodPressure ', ' SkinThickness ',
       ' Insulin ', ' BMI ', ' DiabetesPedigreeFunction ', ' Age ',
       ' Outcome '],
      dtype='object')

In [14]:
X = diabetes.drop(' Outcome ',axis=1)
y = diabetes[' Outcome ']

In [15]:
X.var(axis=0)

 Pregnancies                    11.354056
 Glucose                       929.680350
 BloodPressure                 146.321592
 SkinThickness                  77.285567
 Insulin                      9484.264933
 BMI                            48.813618
 DiabetesPedigreeFunction        0.109721
 Age                           138.303046
dtype: float64

In [16]:
from sklearn.preprocessing import minmax_scale
X_scaled_df = pd.DataFrame(minmax_scale(X,feature_range=(0,10)),columns = X.columns)

In [17]:
X_scaled_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,3.529412,6.709677,4.897959,3.043478,2.740345,3.149284,2.350427,4.833333
1,0.588235,2.645161,4.285714,2.391304,1.018223,1.717791,1.153846,1.666667
2,4.705882,8.967742,4.081633,2.391304,3.331134,1.042945,2.521368,1.833333
3,0.588235,2.903226,4.285714,1.739130,1.293878,2.024540,0.384615,0.000000
4,0.000000,6.000000,1.632653,3.043478,2.150597,5.092025,9.444444,2.000000
...,...,...,...,...,...,...,...,...
763,5.882353,3.677419,5.306122,4.456522,2.289525,3.006135,0.384615,7.000000
764,1.176471,5.032258,4.693878,2.173913,2.044318,3.803681,1.111111,1.000000
765,2.941176,4.967742,4.897959,1.739130,1.502269,1.635992,0.726496,1.500000
766,0.588235,5.290323,3.673469,2.391304,2.217977,2.433538,1.153846,4.333333
767,0.588235,3.161290,4.693878,2.608696,1.215152,2.494888,1.025641,0.333333

In [18]:
X_scaled_df.var()

 Pregnancies                  3.928739
 Glucose                      3.869637
 BloodPressure                1.523548
 SkinThickness                0.913109
 Insulin                      1.271211
 BMI                          2.041377
 DiabetesPedigreeFunction     2.003817
 Age                          3.841751
dtype: float64

In [19]:
from sklearn.feature_selection import VarianceThreshold
select_features = VarianceThreshold(threshold =1.0)

In [20]:
X_variance_threshold_df = select_features.fit_transform(X_scaled_df)

In [21]:
X_variance_threshold_df

array([[3.52941176, 6.70967742, 4.89795918, ..., 3.14928425, 2.35042735,
        4.83333333],
       [0.58823529, 2.64516129, 4.28571429, ..., 1.71779141, 1.15384615,
        1.66666667],
       [4.70588235, 8.96774194, 4.08163265, ..., 1.04294479, 2.52136752,
        1.83333333],
       ...,
       [2.94117647, 4.96774194, 4.89795918, ..., 1.63599182, 0.72649573,
        1.5       ],
       [0.58823529, 5.29032258, 3.67346939, ..., 2.43353783, 1.15384615,
        4.33333333],
       [0.58823529, 3.16129032, 4.69387755, ..., 2.49488753, 1.02564103,
        0.33333333]])

In [22]:
X_variance_threshold_df = pd.DataFrame(X_variance_threshold_df)
X_variance_threshold_df.head()

          0         1         2         3         4         5         6
0  3.529412  6.709677  4.897959  2.740345  3.149284  2.350427  4.833333
1  0.588235  2.645161  4.285714  1.018223  1.717791  1.153846  1.666667
2  4.705882  8.967742  4.081633  3.331134  1.042945  2.521368  1.833333
3  0.588235  2.903226  4.285714  1.293878  2.024540  0.384615  0.000000
4  0.000000  6.000000  1.632653  2.150597  5.092025  9.444444  2.000000

In [23]:
def get_selected_features(raw_df,processed_df):
    selected_features=[]
    for i in range(len(processed_df.columns)):
        for j in range(len(raw_df.columns)):
            if (processed_df.iloc[:,i].equals(raw_df.iloc[:,j])):
                selected_features.append(raw_df.columns[j])
    return selected_features

In [24]:
selected_features= get_selected_features(X_scaled_df,X_variance_threshold_df)

In [25]:
selected_features

[' Pregnancies ',
 ' Glucose ',
 ' BloodPressure ',
 ' Insulin ',
 ' BMI ',
 ' DiabetesPedigreeFunction ',
 ' Age ']

In [26]:
X_variance_threshold_df.columns = selected_features

In [27]:
X_variance_threshold_df

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age
0,3.529412,6.709677,4.897959,2.740345,3.149284,2.350427,4.833333
1,0.588235,2.645161,4.285714,1.018223,1.717791,1.153846,1.666667
2,4.705882,8.967742,4.081633,3.331134,1.042945,2.521368,1.833333
3,0.588235,2.903226,4.285714,1.293878,2.024540,0.384615,0.000000
4,0.000000,6.000000,1.632653,2.150597,5.092025,9.444444,2.000000
...,...,...,...,...,...,...,...
763,5.882353,3.677419,5.306122,2.289525,3.006135,0.384615,7.000000
764,1.176471,5.032258,4.693878,2.044318,3.803681,1.111111,1.000000
765,2.941176,4.967742,4.897959,1.502269,1.635992,0.726496,1.500000
766,0.588235,5.290323,3.673469,2.217977,2.433538,1.153846,4.333333
767,0.588235,3.161290,4.693878,1.215152,2.494888,1.025641,0.333333

## Chi2

In [28]:
def generate_feature_scores_df(X,Score):
    feature_score=pd.DataFrame()
    for i in range(X.shape[1]):
        new =pd.DataFrame({"Features":X.columns[i],"Score":Score[i]},index=[i])
        feature_score=pd.concat([feature_score,new])
    return feature_score

In [29]:
diabetes = pd.read_csv("diabetes.csv")

In [30]:
X = diabetes.drop("Outcome", axis =1)
y = diabetes["Outcome"]

In [31]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [32]:
X=X.astype(np.float64)

In [33]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0

In [34]:
chi2_test = SelectKBest(score_func = chi2, k=4)
chi2_model = chi2_test.fit(X,y)

In [35]:
chi2_model.scores_

array([ 111.51969064, 1411.88704064,   17.60537322,   53.10803984,
       2175.56527292,  127.66934333,    5.39268155,  181.30368904])

In [36]:
feature_score_df = generate_feature_scores_df(X,chi2_model.scores_)
feature_score_df

                   Features        Score
0               Pregnancies   111.519691
1                   Glucose  1411.887041
2             BloodPressure    17.605373
3             SkinThickness    53.108040
4                   Insulin  2175.565273
5                       BMI   127.669343
6  DiabetesPedigreeFunction     5.392682
7                       Age   181.303689

In [37]:
X_new = chi2_model.transform(X)
X_new

array([[148. ,   0. ,  33.6,  50. ],
       [ 85. ,   0. ,  26.6,  31. ],
       [183. ,   0. ,  23.3,  32. ],
       ...,
       [121. , 112. ,  26.2,  30. ],
       [126. ,   0. ,  30.1,  47. ],
       [ 93. ,   0. ,  30.4,  23. ]])

In [38]:
x_new = pd.DataFrame(X_new)

In [39]:
selected_features = get_selected_features(X,x_new)
selected_features

['Glucose', 'Insulin', 'BMI', 'Age']

In [40]:
chi2_bestfeatures = X[selected_features]
chi2_bestfeatures.head()

   Glucose  Insulin   BMI   Age
0    148.0      0.0  33.6  50.0
1     85.0      0.0  26.6  31.0
2    183.0      0.0  23.3  32.0
3     89.0     94.0  28.1  21.0
4    137.0    168.0  43.1  33.0

## Anova F-Test

In [41]:
from sklearn.feature_selection import f_classif,SelectPercentile

Anova_test=SelectPercentile(f_classif,percentile =80)

Anova_model=Anova_test.fit(X,y)

In [42]:
Anova_model.scores_

array([ 39.67022739, 213.16175218,   3.2569504 ,   4.30438091,
        13.28110753,  71.7720721 ,  23.8713002 ,  46.14061124])

In [43]:
feature_score_df = generate_feature_scores_df(X,Anova_model.scores_)
feature_score_df

                   Features       Score
0               Pregnancies   39.670227
1                   Glucose  213.161752
2             BloodPressure    3.256950
3             SkinThickness    4.304381
4                   Insulin   13.281108
5                       BMI   71.772072
6  DiabetesPedigreeFunction   23.871300
7                       Age   46.140611

In [44]:
cols = Anova_model.get_support(indices = True)
X_new = X.iloc[:,cols]

In [45]:
X_new.head()

   Pregnancies  Glucose  Insulin   BMI  DiabetesPedigreeFunction   Age
0          6.0    148.0      0.0  33.6                     0.627  50.0
1          1.0     85.0      0.0  26.6                     0.351  31.0
2          8.0    183.0      0.0  23.3                     0.672  32.0
3          1.0     89.0     94.0  28.1                     0.167  21.0
4          0.0    137.0    168.0  43.1                     2.288  33.0

## Wrapper Method

In [46]:
diabetes = pd.read_csv("diabetes.csv")
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [47]:
X = diabetes.drop("Outcome", axis =1)
y = diabetes["Outcome"]
X,y

(     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 0              6      148             72             35        0  33.6
 1              1       85             66             29        0  26.6
 2              8      183             64              0        0  23.3
 3              1       89             66             23       94  28.1
 4              0      137             40             35      168  43.1
 ..           ...      ...            ...            ...      ...   ...
 763           10      101             76             48      180  32.9
 764            2      122             70             27        0  36.8
 765            5      121             72             23      112  26.2
 766            1      126             60              0        0  30.1
 767            1       93             70             31        0  30.4

      DiabetesPedigreeFunction  Age
 0                       0.627   50
 1                       0.351   31
 2                       0.672   32
 3                       0.167   21
 4                       2.288   33
 ..                        ...  ...
 763                     0.171   63
 764                     0.340   27
 765                     0.245   30
 766                     0.349   47
 767                     0.315   23

 [768 rows x 8 columns],
 0      1
 1      0
 2      1
 3      0
 4      1
       ..
 763    0
 764    0
 765    0
 766    1
 767    0
 Name: Outcome, Length: 768, dtype: int64)

## Recursive feature elimination

In [48]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [49]:
model = LogisticRegression(solver = "liblinear")
rfe = RFE(model, n_features_to_select =4)

In [50]:
fit = rfe.fit(X,y)

In [51]:
print('Number of selected features',fit.n_features_)
print('Selected Features',fit.support_)
print('Feature rankings',fit.ranking_)

Number of selected features 4
Selected Features [ True  True False False False  True  True False]
Feature rankings [1 1 2 4 5 1 1 3]

In [52]:
def feature_ranks(X,Rank,Support):
    feature_rank=pd.DataFrame()
    for i in range(X.shape[1]):
        new =pd.DataFrame({"Features":X.columns[i],"Rank":Rank[i],'Selected':Support[i]},index=[i])
        feature_rank=pd.concat([feature_rank,new])
    return feature_rank

In [53]:
feature_rank_df = feature_ranks(X,fit.ranking_,fit.support_)
feature_rank_df

                   Features  Rank  Selected
0               Pregnancies     1      True
1                   Glucose     1      True
2             BloodPressure     2     False
3             SkinThickness     4     False
4                   Insulin     5     False
5                       BMI     1      True
6  DiabetesPedigreeFunction     1      True
7                       Age     3     False

In [54]:
recursive_feature_names = feature_rank_df.loc[feature_rank_df['Selected'] == True]
recursive_feature_names

                   Features  Rank  Selected
0               Pregnancies     1      True
1                   Glucose     1      True
5                       BMI     1      True
6  DiabetesPedigreeFunction     1      True

In [55]:
RFE_seleced_features = X[recursive_feature_names['Features'].values]
RFE_seleced_features.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction
0            6      148  33.6                     0.627
1            1       85  26.6                     0.351
2            8      183  23.3                     0.672
3            1       89  28.1                     0.167
4            0      137  43.1                     2.288

## Embedded Method
## Random Forest

In [56]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [57]:
diabetes = pd.read_csv("diabetes.csv")
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [58]:
X = diabetes.drop("Outcome",axis=1)
Y = diabetes["Outcome"]

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,Y,test_size = 0.3,random_state =42)

In [60]:
sel = SelectFromModel(RandomForestClassifier(n_estimators =100))
sel.fit(X_train,y_train)

SelectFromModel(estimator=RandomForestClassifier())

In [61]:
sel.get_support()

array([False,  True, False, False, False,  True, False,  True])

In [62]:
selected_feat = X_train.columns[(sel.get_support())]
len(selected_feat)

3

In [63]:
print(selected_feat)

Index(['Glucose', 'BMI', 'Age'], dtype='object')

## Using SelectFromModel

In [64]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

In [65]:
m = SelectFromModel(LinearSVC())
m.fit(X,y)

E:\ana\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

SelectFromModel(estimator=LinearSVC())

In [66]:
selected_feat =X_train.columns[(m.get_support())]
print(selected_feat)

Index(['Pregnancies', 'DiabetesPedigreeFunction'], dtype='object')

## VIF

In [67]:
dia_df = pd.read_csv("diabetes_cleaned.csv")
dia_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,218.94,33.6,0.63,50,1
1,1,85,66.0,29,70.19,26.6,0.35,31,0
2,8,183,64.0,29,269.97,23.3,0.67,32,1
3,1,89,66.0,23,94.00,28.1,0.17,21,0
4,0,137,40.0,35,168.00,43.1,2.29,33,1

In [68]:
dia_df = dia_df.astype(np.float64)

In [69]:
dia_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,218.94,33.6,0.63,50.0,1.0
1,1.0,85.0,66.0,29.0,70.19,26.6,0.35,31.0,0.0
2,8.0,183.0,64.0,29.0,269.97,23.3,0.67,32.0,1.0
3,1.0,89.0,66.0,23.0,94.00,28.1,0.17,21.0,0.0
4,0.0,137.0,40.0,35.0,168.00,43.1,2.29,33.0,1.0

In [70]:
dia_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.539062,72.405404,29.108073,152.222760,32.307682,0.472396,33.240885,0.348958
std,3.369578,30.490660,12.096346,8.791221,97.387191,6.986674,0.331242,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,-17.760000,18.200000,0.080000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,25.000000,89.650000,27.300000,0.240000,24.000000,0.000000
50%,3.000000,117.000000,72.205000,29.000000,130.000000,32.000000,0.370000,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,188.447500,36.600000,0.630000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [71]:
dia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0    Pregnancies                768 non-null    float64
 1    Glucose                    768 non-null    float64
 2    BloodPressure              768 non-null    float64
 3    SkinThickness              768 non-null    float64
 4    Insulin                    768 non-null    float64
 5    BMI                        768 non-null    float64
 6    DiabetesPedigreeFunction   768 non-null    float64
 7    Age                        768 non-null    float64
 8    Outcome                    768 non-null    float64
dtypes: float64(9)
memory usage: 54.1 KB

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [75]:
dia_df.columns

Index([' Pregnancies ', ' Glucose ', ' BloodPressure ', ' SkinThickness ',
       ' Insulin ', ' BMI ', ' DiabetesPedigreeFunction ', ' Age ',
       ' Outcome '],
      dtype='object')

In [77]:
X = dia_df.drop(' Outcome ',axis =1)
Y = dia_df[' Outcome ']

In [78]:
x_train,x_test,y_train,t_test = train_test_split(X,Y,test_size =0.2)

In [81]:
vif = pd.DataFrame()
vif['VIF Factor'] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]

In [82]:
vif['Features'] = X.columns

In [84]:
vif.round(2)

   VIF Factor                    Features
0        3.28                Pregnancies
1       30.21                    Glucose
2       33.36              BloodPressure
3       17.10              SkinThickness
4        6.48                    Insulin
5       32.18                        BMI
6        3.15   DiabetesPedigreeFunction
7       14.38                        Age

In [89]:
X = X.drop([' Glucose ',' Insulin ',' Age '], axis=1)

In [90]:
vif = pd.DataFrame()
vif['VIF Factor'] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif['Features'] = X.columns
vif['Features'] = X.columns
vif.round(2)

   VIF Factor                    Features
0        2.43                Pregnancies
1       21.68              BloodPressure
2       16.84              SkinThickness
3       30.27                        BMI
4        3.06   DiabetesPedigreeFunction